<% content_for :fb do %>
	<meta property="og:url" content="<%= request.protocol+request.host_with_port %>/main/media/<%= @media.id %>" />
    <meta property="og:image" content="<%= @media.images.low_resolution.url %>" />
    <meta property="og:title" content="Social Gallery - <%= @media.filter %>" />
    <meta property="og:description" content="<%= @media.caption.text if @media.caption? %>" />
<% end %>

<div style="margin-top: 20px;">
	<div class="grid-75 tablet-grid-75 mobile-grid-100 text-center media-container">
		<div class="media-icons text-center">
			<a target="_blank" title="<%= (@media.user_has_liked ? 'Unlike this ?' : 'Like this ?') %>">
				<i class="ic sg-heart <%= (@media.user_has_liked ? 'active' : '') %>"></i>
			</a>
			<a onclick="Ig.share('<%= @media.id %>', '<%= @media.images.standard_resolution.url %>')" target="_blank" title="Share ?">
				<i class="ic sg-share"></i>
			</a>
		</div>
		<% if @media.type == 'image' %>
			<img class="grid-100 tablet-grid-100 mobile-grid-100 grid-parent" src="<%= @media.images.standard_resolution.url %>" />
		<% else %>
			<video class="grid-100 tablet-grid-100 mobile-grid-100 grid-parent" src="<%= @media.videos.low_resolution.url %>" controls/>
		<% end %>
	</div>
	<div class="grid-25 tablet-grid-25 mobile-grid-100">
		<b><%= @media.comments.count %> Comments in total</b>
		<ul id="comments">
			<li class="grid-100 tablet-grid-100 mobile-grid-100"><img src="<%= @media.user.profile_picture %>" /><a href="/main/user/<%= @media.user.username %>"><%= @media.user.username %></a><%= @media.caption.text if @media.caption? %></li>
			<% @media.comments.data.each do |c| %>
				<li class="grid-100 tablet-grid-100 mobile-grid-100"><img src="<%= c.from.profile_picture %>"><a href="/main/user/<%= c.from.username %>"><%= c.from.username %></a><%= c.text %></li>
			<% end %>
		</ul>
	</div>
</div>